/* media */
@media only screen and (max-width : 480px) {
	.flat-image{
		left:-26%;
	}
	.camket img{
		margin-right:-8px;
		padding-top:5px;
		
	}
	.sequence-canvas{
		display:none;
	}
	.camket{
		top:0;
	}
	.hom-slider{
		height:310px;
	}
	.row{
		margin-right:0; 
	}
	.new{
		margin-left:8px;
		margin-right:-8px;
		padding:25px 8px;
	}
	.phone .fa-phone-square{
		width:22%;
		padding-left:8px;
	}
	.text1{
		padding-right:8px;
		width:72%;
	}
	.text1 h2{
		display:none;
	}
	.footer, .tintuc, .sanpham, .dichvu{
		padding-top:30px;
	}
	.footer h3{
		text-align:center;
		padding-top:30px;
		margin-right:-15px;
	}
	.footer p, .footer ul{
		margin-right:-15px;
		padding-left:8px;
		padding-right:8px;
	}
	.footer a img{
		margin-right:-8px;
	}
	.footer1{
		text-align:center;
	}
}

